<!DOCTYPE html>
<html>
<head>
    <title>2048 Game</title>
</head>
<body>

<h1>2048 Game</h1>

<table border="1">
{% for row in board %}
<tr>
{% for cell in row %}
<td width="50" height="50" align="center">
{{ cell if cell != 0 else "" }}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>

<br>

<form method="post" action="/move">
    <button type="submit" name="direction" value="up">Up</button>
    <button type="submit" name="direction" value="left">Left</button>
    <button type="submit" name="direction" value="right">Right</button>
    <button type="submit" name="direction" value="down">Down</button>
</form>

</body>
</html>